@charset "UTF-8";

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Reset & root*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-body-bg-color: #e7ecef;
    --color-text-color: #274c77;
    --color-gray-dark: #6096ba;
    --color-gray-light: #a3cef1;
    --color-box-shadow: rgba(0, 0, 0, .1);

    --font-main: 'Poppins', sans-serif;

    --fs-xl: 3rem;
    --fs-600: 1.8rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;

    --fw-normal: 400;
    --fw-bold: 500;
}

html {
    font-size: 16px;
}

html,
body {
    min-height: 100vh;
}

body,
input,
textarea,
button,
a {
    color: var(--color-text-color);
    font-family: var(--font-main);
}

body {
    background: var(--color-body-bg-color);
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Board */

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.card {
    position: relative;
    aspect-ratio: 1/1;
    width: 75px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 5px 5px 0 var(--color-text-color); */
}

.turn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    backface-visibility: hidden;
    transition: transform .5s ease;
}

.card .turn.card-front { transform: rotateY(0deg); }
.card .turn.card-back { transform: rotateY(-180deg); }

.card.flip .turn.card-front { transform: rotateY(180deg); }
.card.flip .turn.card-back { transform: rotateY(0deg); }

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
}

.card.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake .5s;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}